/*
  Something.css  V1.0.0
  Created by Gareth Jones & Tom Whitaker
  www.somethingwbsite.io
  MIT License
  Mit liscence link
  date published
*/

/* ===== CONTENTS =======*/
/* Base Document Styles
  Grid / Layout
  Typography
  Colour Pallettes
  Buttons
  Forms
  Responsive / Mobile */
/*=======================*/

/* ===================*/
/*  DOCUMENT STYLES   */
/* ================== */

* {
  box-sizing: border-box;
}

@media (min-width: 500px)
 {
}

/* ====================*/
/*  Colour Pallettes   */
/* =================== */
/* Dragon Slayer Green */
.dsGreen{
  background-color: #004029;
}
.dsGreen-1{
  background-color: #007f52;
}
.dsGreen-2{
  background-color: #00bf7b;
}
.dsGreen-3{
  background-color: #00e594;
}
.dsGreen-4{
  background-color: #00ffa5;
}
/* Dragon Slayer Purple */
.dsPurple{
  background-color: #604a7e;
}
.dsPurple-1{
  background-color: #725896;
}
.dsPurple-2{
  background-color: #9270bf;
}
.dsPurple-3{
  background-color: #af87e5;
}
.dsPurple-4{
  background-color: #c296ff;
}

/* Dragon Slayer Blue */
.dsBlue{
  background-color: #477b7e;
}
.dsBlue-1{
  background-color: #559396;
}
.dsBlue-2{
  background-color: #6cbbbf;
}
.dsBlue-3{
  background-color: #81e0e5;
}
.dsBlue-4{
  background-color: #90f9ff;
}

.darkpall {
  background-color: #1c1c1c;
  color: ghostwhite;
}

.darkpall > h1,
h2,
h3,
h4 {
  color: #b0976d;
}

.lightpall {
  background-color: #ghostwhite;
  color: #16161d;
}

.lightpall > h1,
h2,
h3,
h4 {
  color: #565658;
}

.mint0 .mint1 .mint2 .mint3 .mint4 {
}

.font-dark {
  color: #16161d;
}

.font-light {
  color: ghostwhite;
}
