/*
  Something.css  V1.0.0
  Created by Gareth Jones & Tom Whitaker
  www.somethingwbsite.io
  MIT License
  Mit liscence link
  date published
*/

/* ===== CONTENTS =======*/
/* Base Document Styles
  Grid / Layout
  Typography
  Colour Pallettes
  Buttons
  Forms
  Responsive / Mobile */
/*=======================*/

/* ===================*/
/*  DOCUMENT STYLES   */
/* ================== */

* {
  box-sizing: border-box;
}

@media (min-width: 500px);
 {
}

/* ====================*/
/*  Colour Pallettes   */
/* =================== */

.darkpall {
  background-color: #1c1c1c;
  color: ghostwhite;
}

.darkpall > h1,
h2,
h3,
h4 {
  color: #b0976d;
}

.lightpall {
  background-color: #ghostwhite;
  color: #16161d;
}

.lightpall > h1,
h2,
h3,
h4 {
  color: #565658;
}

.mint0 .mint1 .mint2 .mint3 .mint4 {
}

.font-dark {
  color: #16161d;
}

.font-light {
  color: ghostwhite;
}
